.card-img-top {
  height: 250px; /* You can adjust this value */
  object-fit: cover;
}
.rating-badge {
  display: inline-block;
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 15px;
  text-align: center;
}

.rating-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  display: block;
}

.rating-text {
  font-size: 0.8rem;
  color: #6c757d;
}